parameters:
	level: 8
	paths:
		- src/
	bootstrapFiles:
		- tests/bootstrap.php
		- tests/shim.php
	ignoreErrors:
		- identifier: missingType.iterableValue
		- identifier: missingType.generics
		- '#Access to an undefined property .+EntityInterface::\$geo.+.#'
		- '#Unsafe usage of new static\(\)#'
