parameters:
	level: 8
	paths:
		- src/
	bootstrapFiles:
		- tests/bootstrap.php
		- tests/shim.php
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '#Access to an undefined property .+EntityInterface::\$geo.+.#'
		- '#Cannot assign offset int\|string to ArrayObject\|.+GeocodedAddress.#'
		- '#Unsafe usage of new static\(\)#'
