<phpunit bootstrap="tests/bootstrap.php">
	<php>
		<!-- E_ALL & ~E_USER_DEPRECATED (16383)-->
		<!-- E_ALL (32767) -->
		<ini name="error_reporting" value="16383"/>

		<env name="FIXTURE_SCHEMA_METADATA" value="tests/schema.php"/>
	</php>

	<testsuites>
		<testsuite name="geo">
			<directory>tests/</directory>
		</testsuite>
	</testsuites>

	<extensions>
		<extension class="\Cake\TestSuite\Fixture\PHPUnitExtension"/>
	</extensions>

	<filter>
		<whitelist>
			<directory suffix=".php">src/</directory>
		</whitelist>
	</filter>

</phpunit>
