<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
	<php>
		<!-- E_ALL & ~E_USER_DEPRECATED (16383)-->
		<!-- E_ALL (32767) -->
		<ini name="error_reporting" value="16383"/>
	</php>
	<testsuites>
		<testsuite name="geo">
			<directory>tests/</directory>
		</testsuite>
	</testsuites>
	<listeners>
		<listener class="Cake\TestSuite\Fixture\FixtureInjector">
			<arguments>
				<object class="Cake\TestSuite\Fixture\FixtureManager"/>
			</arguments>
		</listener>
	</listeners>
	<coverage>
		<include>
			<directory suffix=".php">src/</directory>
		</include>
	</coverage>
</phpunit>
